@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.select__value:after,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow-bottom:before {
  content: "\e900";
}

._icon-twitter:before {
  content: "\e902";
  color: #fff;
}

._icon-facebook:before {
  content: "\e903";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "DM Sans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "DM Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 67.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container_wide] {
  max-width: 77.5rem;
}

.select {
  position: relative;
  width: 168px;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  background-color: #F2F4FF;
  cursor: pointer;
  width: 100%;
  max-width: 168px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #1D275F;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.875rem;
  padding: 0 1.25rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "\e900";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  font-size: 15px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1D275F;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #1D275F;
  position: absolute;
  top: 55px;
  border-radius: 10px;
  min-width: 100%;
  left: 0;
  background-color: #F2F4FF;
  border-top: 0;
  border-top: 0;
  padding: 10px 0px 5px 0px;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

.qs-datepicker-container {
  margin: 5px;
  font-size: 1rem;
  font-family: sans-serif;
  color: #fff;
  position: absolute;
  width: 15.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 9001;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  border: 1px solid #F2F4FF;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
}

.qs-datepicker-container:before,
.qs-datepicker-container:after {
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  z-index: 2;
  position: absolute;
}

.qs-datepicker-container:before {
  top: 0;
}

.qs-datepicker-container:after {
  bottom: 0;
}

.qs-datepicker-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qs-datepicker-container.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.qs-datepicker-container.qs-hidden {
  display: none;
}

.qs-datepicker .qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  color: #000;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.qs-datepicker .qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1;
}

.qs-datepicker .qs-overlay .qs-overlay-year {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 0.875em;
  padding: 0.25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.qs-datepicker .qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.qs-datepicker .qs-overlay .qs-close {
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.qs-datepicker .qs-overlay .qs-submit {
  border: 1px solid #fff;
  border-radius: 0.26392em;
  padding: 0.5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: hsla(0deg, 0%, 50.2%, 0.4);
}

.qs-datepicker .qs-overlay .qs-submit.qs-disabled {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}

.qs-datepicker .qs-overlay .qs-overlay-month-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.qs-datepicker .qs-overlay .qs-overlay-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33333%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.qs-datepicker .qs-overlay .qs-overlay-month.active,
.qs-datepicker .qs-overlay .qs-overlay-month:hover {
  opacity: 1;
}

.qs-datepicker .qs-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #F2F4FF;
  color: #242565;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-controls.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-arrow {
  height: 1.5625em;
  width: 1.5625em;
  position: relative;
  cursor: pointer;
  border-radius: 0.26392em;
  -webkit-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}

.qs-datepicker .qs-arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

.qs-datepicker .qs-arrow:hover.qs-left:after {
  border-right-color: #000;
}

.qs-datepicker .qs-arrow:hover.qs-right:after {
  border-left-color: #000;
}

.qs-datepicker .qs-arrow:after {
  content: "";
  border: 0.39062em solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
}

.qs-datepicker .qs-arrow.qs-left:after {
  border-right-color: grey;
  right: 50%;
  -webkit-transform: translate(25%, -50%);
  -ms-transform: translate(25%, -50%);
  transform: translate(25%, -50%);
}

.qs-datepicker .qs-arrow.qs-right:after {
  border-left-color: grey;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.qs-datepicker .qs-month-year {
  font-weight: 700;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.qs-datepicker .qs-month-year:hover {
  border-bottom: 1px solid grey;
}

.qs-datepicker .qs-month-year:active:focus,
.qs-datepicker .qs-month-year:focus {
  outline: none;
}

.qs-datepicker .qs-month {
  padding-right: 0.5ex;
}

.qs-datepicker .qs-year {
  padding-left: 0.5ex;
}

.qs-datepicker .qs-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #242565;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.3125em;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-squares.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-square {
  width: 14.28571%;
  height: 1.5625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
  border-radius: 0.26392em;
}

.qs-datepicker .qs-square.qs-current {
  font-weight: 700;
}

.qs-datepicker .qs-square.qs-current span {
  text-decoration: underline;
}

.qs-datepicker .qs-square.qs-active {
  background: #fff;
  color: #000;
}

.qs-datepicker .qs-square.qs-range-date-start:not(.qs-range-date-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle {
  background: #d4ebf2;
}

.qs-datepicker .qs-square.qs-range-date-middle:not(.qs-range-date-0):not(.qs-range-date-6) {
  border-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-end:not(.qs-range-date-0),
.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.qs-datepicker .qs-square.qs-disabled span {
  opacity: 0.2;
}

.qs-datepicker .qs-square.qs-empty {
  cursor: default;
}

.qs-datepicker .qs-square.qs-disabled {
  cursor: not-allowed;
}

.qs-datepicker .qs-square.qs-day {
  cursor: default;
  font-weight: 700;
  color: #3D37F1;
  font-size: 12px;
}

.qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: #cce4ff;
}

.qs-datepicker .qs-event {
  position: relative;
}

.qs-datepicker .qs-event:after {
  content: "";
  position: absolute;
  width: 0.46875em;
  height: 0.46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0;
}

.qs-datepicker .qs-event.qs-disabled:after,
.qs-datepicker .qs-event.qs-empty:after {
  background: #cce4ff;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.blog__title,
.brands__title,
.events__title,
.kpop__text,
.kpop__title {
  font-family: ProximaNova;
}

.icon-menu {
  display: none;
}

.header {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 90px;
  position: relative;
}

@supports (min-height: clamp( 2.5rem , 1.8718592965rem  +  3.1407035176vw , 4.0625rem )) {
  .header__container {
    min-height: clamp( 2.5rem , 1.8718592965rem  +  3.1407035176vw , 4.0625rem );
  }
}

@supports not (min-height: clamp( 2.5rem , 1.8718592965rem  +  3.1407035176vw , 4.0625rem )) {
  .header__container {
    min-height: calc(2.5rem + 1.5625 * (100vw - 20rem) / 49.75);
  }
}

@supports (gap: clamp( 1.25rem , 0.4962311558rem  +  3.7688442211vw , 3.125rem )) {
  .header__container {
    gap: clamp( 1.25rem , 0.4962311558rem  +  3.7688442211vw , 3.125rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.4962311558rem  +  3.7688442211vw , 3.125rem )) {
  .header__container {
    gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 49.75);
  }
}

.header__logo {
  position: relative;
  z-index: 2;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 7px;
}

.header__contact {
  padding: 10px 30.5px;
  border: 1.5px solid #FFFFFF;
  border-radius: 50px;
  color: #fff;
  margin-top: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__contact:hover {
  color: #F5167E;
  border-radius: 10px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.3596105528rem  +  2.8894472362vw , 2.375rem )) or (column-gap: clamp( 0.9375rem , 0.3596105528rem  +  2.8894472362vw , 2.375rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.9375rem , 0.3596105528rem  +  2.8894472362vw , 2.375rem );
       -moz-column-gap: clamp( 0.9375rem , 0.3596105528rem  +  2.8894472362vw , 2.375rem );
            column-gap: clamp( 0.9375rem , 0.3596105528rem  +  2.8894472362vw , 2.375rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.3596105528rem  +  2.8894472362vw , 2.375rem )) or (column-gap: clamp( 0.9375rem , 0.3596105528rem  +  2.8894472362vw , 2.375rem ))) {
  .menu__list {
    -webkit-column-gap: calc(0.9375rem + 1.4375 * (100vw - 20rem) / 49.75);
       -moz-column-gap: calc(0.9375rem + 1.4375 * (100vw - 20rem) / 49.75);
            column-gap: calc(0.9375rem + 1.4375 * (100vw - 20rem) / 49.75);
  }
}

.menu__link {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: #F5167E;
}

.footer {
  background-color: #0A075F;
}

.footer__container_wide {
  padding-bottom: 21px;
  display: -ms-grid;
  display: grid;
}

@supports (padding-top: clamp( 1.25rem , 0.2449748744rem  +  5.0251256281vw , 3.75rem )) {
  .footer__container_wide {
    padding-top: clamp( 1.25rem , 0.2449748744rem  +  5.0251256281vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.2449748744rem  +  5.0251256281vw , 3.75rem )) {
  .footer__container_wide {
    padding-top: calc(1.25rem + 2.5 * (100vw - 20rem) / 49.75);
  }
}

@supports (gap: clamp( 1.875rem , 0.8951005025rem  +  4.8994974874vw , 4.3125rem )) {
  .footer__container_wide {
    gap: clamp( 1.875rem , 0.8951005025rem  +  4.8994974874vw , 4.3125rem );
  }
}

@supports not (gap: clamp( 1.875rem , 0.8951005025rem  +  4.8994974874vw , 4.3125rem )) {
  .footer__container_wide {
    gap: calc(1.875rem + 2.4375 * (100vw - 20rem) / 49.75);
  }
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.footer__logo {
  padding-bottom: 17.44px;
}

.footer__text {
  font-size: 14px;
  line-height: 160%;
  color: #F3F3F3;
  max-width: 333px;
  padding-bottom: 17px;
}

.footer__text_width {
  max-width: 362px;
  padding-bottom: 20px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.footer__facebook::before,
.footer__twitter::before,
.footer__in::before {
  font-size: 20px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #F1F2F2;
}

.footer__facebook,
.footer__twitter,
.footer__in {
  position: relative;
  content: "";
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.footer__facebook {
  background-color: #3B5998;
}

.footer__twitter {
  background-color: #55ACEE;
}

.footer__in {
  padding-left: 6px;
  background-color: #007AB9;
}

.footer__in::before {
  content: "in";
  font-weight: 700;
  font-size: 23px;
}

.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding-bottom: 24px;
}

.footer__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
  color: #F3F3F3;
  display: -ms-grid;
  display: grid;
  gap: 5px;
}

.footer__form {
  background: #FFFFFF;
  border: 2px solid #F1F1F1;
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  max-width: 364px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (gap: clamp( 0.625rem , 0.3737437186rem  +  1.256281407vw , 1.25rem )) {
  .footer__form {
    gap: clamp( 0.625rem , 0.3737437186rem  +  1.256281407vw , 1.25rem );
  }
}

@supports not (gap: clamp( 0.625rem , 0.3737437186rem  +  1.256281407vw , 1.25rem )) {
  .footer__form {
    gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 49.75);
  }
}

.footer__block {
  border-top: 1px solid #4C4D8B;
  display: -ms-grid;
  display: grid;
}

.footer__copy {
  color: #FEFEFE;
  font-size: 14px;
  line-height: 160%;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-top: 20px;
}

.button-footer {
  background-color: #F5167E;
  color: #fff;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.065em;
}

@supports (width: clamp( 8.125rem , 7.6224874372rem  +  2.5125628141vw , 9.375rem )) {
  .button-footer {
    width: clamp( 8.125rem , 7.6224874372rem  +  2.5125628141vw , 9.375rem );
  }
}

@supports not (width: clamp( 8.125rem , 7.6224874372rem  +  2.5125628141vw , 9.375rem )) {
  .button-footer {
    width: calc(8.125rem + 1.25 * (100vw - 20rem) / 49.75);
  }
}

@supports (height: clamp( 2.4375rem , 2.261620603rem  +  0.8793969849vw , 2.875rem )) {
  .button-footer {
    height: clamp( 2.4375rem , 2.261620603rem  +  0.8793969849vw , 2.875rem );
  }
}

@supports not (height: clamp( 2.4375rem , 2.261620603rem  +  0.8793969849vw , 2.875rem )) {
  .button-footer {
    height: calc(2.4375rem + 0.4375 * (100vw - 20rem) / 49.75);
  }
}

.input-footer {
  height: 29px;
  background: transparent;
  outline: none;
  color: #000;
  font-size: 15px;
  line-height: 16px;
  padding-left: 25px;
}

@supports (width: clamp( 8.75rem , 7.2424623116rem  +  7.5376884422vw , 12.5rem )) {
  .input-footer {
    width: clamp( 8.75rem , 7.2424623116rem  +  7.5376884422vw , 12.5rem );
  }
}

@supports not (width: clamp( 8.75rem , 7.2424623116rem  +  7.5376884422vw , 12.5rem )) {
  .input-footer {
    width: calc(8.75rem + 3.75 * (100vw - 20rem) / 49.75);
  }
}

.input-footer::-webkit-input-placeholder {
  color: #959595;
}

.input-footer::-moz-placeholder {
  color: #959595;
}

.input-footer:-ms-input-placeholder {
  color: #959595;
}

.input-footer::-ms-input-placeholder {
  color: #959595;
}

.input-footer::placeholder {
  color: #959595;
}

@supports (font-size: clamp( 0.5625rem , 0.4619974874rem  +  0.5025125628vw , 0.8125rem )) {
  .input-footer::-webkit-input-placeholder {
    font-size: clamp( 0.5625rem , 0.4619974874rem  +  0.5025125628vw , 0.8125rem );
  }
  .input-footer::-moz-placeholder {
    font-size: clamp( 0.5625rem , 0.4619974874rem  +  0.5025125628vw , 0.8125rem );
  }
  .input-footer:-ms-input-placeholder {
    font-size: clamp( 0.5625rem , 0.4619974874rem  +  0.5025125628vw , 0.8125rem );
  }
  .input-footer::-ms-input-placeholder {
    font-size: clamp( 0.5625rem , 0.4619974874rem  +  0.5025125628vw , 0.8125rem );
  }
  .input-footer::placeholder {
    font-size: clamp( 0.5625rem , 0.4619974874rem  +  0.5025125628vw , 0.8125rem );
  }
}

@supports not (font-size: clamp( 0.5625rem , 0.4619974874rem  +  0.5025125628vw , 0.8125rem )) {
  .input-footer::-webkit-input-placeholder {
    font-size: calc(0.5625rem + 0.25 * (100vw - 20rem) / 49.75);
  }
  .input-footer::-moz-placeholder {
    font-size: calc(0.5625rem + 0.25 * (100vw - 20rem) / 49.75);
  }
  .input-footer:-ms-input-placeholder {
    font-size: calc(0.5625rem + 0.25 * (100vw - 20rem) / 49.75);
  }
  .input-footer::-ms-input-placeholder {
    font-size: calc(0.5625rem + 0.25 * (100vw - 20rem) / 49.75);
  }
  .input-footer::placeholder {
    font-size: calc(0.5625rem + 0.25 * (100vw - 20rem) / 49.75);
  }
}

.no-webp .kpop{
  background: -o-linear-gradient(331.02deg, rgba(237, 70, 144, 0.9) -2.11%, rgba(85, 34, 204, 0.9) 63.58%), url(../img/bg.jpg) center/cover no-repeat; }

.no-webp .kpop{
  background: linear-gradient(118.98deg, rgba(237, 70, 144, 0.9) -2.11%, rgba(85, 34, 204, 0.9) 63.58%), url(../img/bg.jpg) center/cover no-repeat; }

.kpop__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (padding-top: clamp( 7.5rem , 6.4698492462rem  +  5.1507537688vw , 10.0625rem )) {
  .kpop__container {
    padding-top: clamp( 7.5rem , 6.4698492462rem  +  5.1507537688vw , 10.0625rem );
  }
}

@supports not (padding-top: clamp( 7.5rem , 6.4698492462rem  +  5.1507537688vw , 10.0625rem )) {
  .kpop__container {
    padding-top: calc(7.5rem + 2.5625 * (100vw - 20rem) / 49.75);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 0.7631909548rem  +  11.8090452261vw , 9rem )) {
  .kpop__container {
    padding-bottom: clamp( 3.125rem , 0.7631909548rem  +  11.8090452261vw , 9rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.7631909548rem  +  11.8090452261vw , 9rem )) {
  .kpop__container {
    padding-bottom: calc(3.125rem + 5.875 * (100vw - 20rem) / 49.75);
  }
}

.kpop__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.kpop__image img {
  width: 100%;
}

.kpop__info {
  display: -ms-grid;
  display: grid;
  gap: 28px;
  -ms-flex-line-pack: start;
      align-content: start;
  padding-top: 57px;
}

.kpop__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #fff;
}

.kpop__text {
  color: #fff;
}

.kpop__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.button {
  font-weight: 700;
  color: #fff;
  border: 1.5px solid #FFFFFF;
  border-radius: 50px;
  width: 11.375rem;
  height: 3.75rem;
  -webkit-transition: border-radius 0.5s ease 0s;
  -o-transition: border-radius 0.5s ease 0s;
  transition: border-radius 0.5s ease 0s;
}

.button:hover {
  border-radius: 10px;
}

.button_color {
  background-color: #F5167E;
  border: none;
}

.search__container {
  display: -ms-grid;
  display: grid;
}

@supports (padding-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
  .search__container {
    padding-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
  .search__container {
    padding-bottom: calc(1.25rem + 0 * (100vw - 20rem) / 49.75);
  }
}

@supports (padding-top: clamp( 1.25rem , 0.9987437186rem  +  1.256281407vw , 1.875rem )) {
  .search__container {
    padding-top: clamp( 1.25rem , 0.9987437186rem  +  1.256281407vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.9987437186rem  +  1.256281407vw , 1.875rem )) {
  .search__container {
    padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 49.75);
  }
}

.search__items {
  background: #242565;
  -webkit-box-shadow: 0px 10px 50px rgba(61, 55, 241, 0.25);
          box-shadow: 0px 10px 50px rgba(61, 55, 241, 0.25);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 48px 45px 48px;
  gap: 23px;
}

.search__item {
  display: -ms-grid;
  display: grid;
  gap: 11px;
}

.search__info {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.search__input {
  position: relative;
}

.search__input::before {
  color: #fff;
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.search__input._form-focus::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.input-search {
  height: 29px;
  background: transparent;
  border-bottom: 1px solid #7778B0;
  outline: none;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
}

@supports (width: clamp( 12.5rem , 10.2386934673rem  +  11.3065326633vw , 18.125rem )) {
  .input-search {
    width: clamp( 12.5rem , 10.2386934673rem  +  11.3065326633vw , 18.125rem );
  }
}

@supports not (width: clamp( 12.5rem , 10.2386934673rem  +  11.3065326633vw , 18.125rem )) {
  .input-search {
    width: calc(12.5rem + 5.625 * (100vw - 20rem) / 49.75);
  }
}

.input-search::-webkit-input-placeholder {
  color: #fff;
}

.input-search::-moz-placeholder {
  color: #fff;
}

.input-search:-ms-input-placeholder {
  color: #fff;
}

.input-search::-ms-input-placeholder {
  color: #fff;
}

.input-search::placeholder {
  color: #fff;
}

.events__container {
  display: -ms-grid;
  display: grid;
}

@supports (padding-top: clamp( 1.25rem , 0.4962311558rem  +  3.7688442211vw , 3.125rem )) {
  .events__container {
    padding-top: clamp( 1.25rem , 0.4962311558rem  +  3.7688442211vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.4962311558rem  +  3.7688442211vw , 3.125rem )) {
  .events__container {
    padding-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 49.75);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.3724874372rem  +  2.5125628141vw , 3.125rem )) {
  .events__container {
    padding-bottom: clamp( 1.875rem , 1.3724874372rem  +  2.5125628141vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3724874372rem  +  2.5125628141vw , 3.125rem )) {
  .events__container {
    padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 49.75);
  }
}

@supports (gap: clamp( 1.875rem , 1.1212311558rem  +  3.7688442211vw , 3.75rem )) {
  .events__container {
    gap: clamp( 1.875rem , 1.1212311558rem  +  3.7688442211vw , 3.75rem );
  }
}

@supports not (gap: clamp( 1.875rem , 1.1212311558rem  +  3.7688442211vw , 3.75rem )) {
  .events__container {
    gap: calc(1.875rem + 1.875 * (100vw - 20rem) / 49.75);
  }
}

.events__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.events__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #242565;
  text-align: center;
}

.events__select {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.events__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 28.43px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.events__items_more {
  display: none;
}

.events__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  min-width: 290px;
  padding: 0 15px;
}

.events__button {
  border-color: #3D37F1;
  color: #3D37F1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.events__button_hidden {
  -ms-grid-column-align: center;
      justify-self: center;
  display: none;
}

.item-events {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 4px 4px 14px 10px rgba(119, 115, 170, 0.1);
          box-shadow: 4px 4px 14px 10px rgba(119, 115, 170, 0.1);
  border-radius: 19px;
}

.item-events__image {
  position: relative;
  padding: 0 0 40.055385% 0;
}

.item-events__image img {
  border-radius: 19px 19px 0 0;
}

.item-events__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 29.38px 22.74px 22.74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20.85px;
}

.item-events__date {
  padding-top: 6px;
}

.item-events__month {
  font-weight: 700;
  font-size: 11.3717px;
  line-height: 15px;
  text-align: center;
  color: #3D37F1;
}

.item-events__number {
  font-weight: 700;
  font-size: 28.4293px;
  line-height: 37px;
}

.item-events__info {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.item-events__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.item-events__text {
  font-size: 14px;
  line-height: 150%;
  color: #6A6A6A;
}

.active {
  display: none;
}

.make {
  background-color: #EEE1FF;
}

.make__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 1.875rem , 1.3724874372rem  +  2.5125628141vw , 3.125rem )) {
  .make__container {
    gap: clamp( 1.875rem , 1.3724874372rem  +  2.5125628141vw , 3.125rem );
  }
}

@supports not (gap: clamp( 1.875rem , 1.3724874372rem  +  2.5125628141vw , 3.125rem )) {
  .make__container {
    gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 49.75);
  }
}

.make__image img {
  width: 100%;
}

.make__info {
  display: -ms-grid;
  display: grid;
  gap: 21px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.make__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
}

.make__text {
  color: #272727;
  max-width: 382px;
  line-height: 23px;
}

.make__button {
  width: 18.875rem;
  border: none;
  background-color: #F5167E;
}

.brands__container {
  display: -ms-grid;
  display: grid;
  gap: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (padding-top: clamp( 3.125rem , 1.1149497487rem  +  10.0502512563vw , 8.125rem )) {
  .brands__container {
    padding-top: clamp( 3.125rem , 1.1149497487rem  +  10.0502512563vw , 8.125rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.1149497487rem  +  10.0502512563vw , 8.125rem )) {
  .brands__container {
    padding-top: calc(3.125rem + 5 * (100vw - 20rem) / 49.75);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.2449748744rem  +  5.0251256281vw , 3.75rem )) {
  .brands__container {
    padding-bottom: clamp( 1.25rem , 0.2449748744rem  +  5.0251256281vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.2449748744rem  +  5.0251256281vw , 3.75rem )) {
  .brands__container {
    padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 49.75);
  }
}

.brands__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #242565;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.brands__text {
  line-height: 23px;
  text-align: center;
  color: #6A6A6A;
  max-width: 613px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.brands__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brands__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 180px;
  height: 127px;
}

.brands__image img {
  width: 100%;
}

.blog__container {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  justify-items: center;
}

@supports (padding-top: clamp( 1.25rem , 0.2449748744rem  +  5.0251256281vw , 3.75rem )) {
  .blog__container {
    padding-top: clamp( 1.25rem , 0.2449748744rem  +  5.0251256281vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.2449748744rem  +  5.0251256281vw , 3.75rem )) {
  .blog__container {
    padding-top: calc(1.25rem + 2.5 * (100vw - 20rem) / 49.75);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2468592965rem  +  3.1407035176vw , 3.4375rem )) {
  .blog__container {
    padding-bottom: clamp( 1.875rem , 1.2468592965rem  +  3.1407035176vw , 3.4375rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2468592965rem  +  3.1407035176vw , 3.4375rem )) {
  .blog__container {
    padding-bottom: calc(1.875rem + 1.5625 * (100vw - 20rem) / 49.75);
  }
}

.blog__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #242565;
}

.blog__text {
  line-height: 150%;
  color: #6A6A6A;
  text-align: center;
}

.blog__items {
  padding-top: 27px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -15px;
}

.blog__items_more {
  display: none;
}

.blog__item {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  min-width: 290px;
}

.blog__button {
  border-color: #3D37F1;
  color: #3D37F1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.blog__button_hidden {
  -ms-grid-column-align: center;
      justify-self: center;
  display: none;
}

.item-blog {
  border-radius: 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.item-blog__image {
  padding: 0 0 61.22448% 0;
  position: relative;
}

.item-blog__info {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.item-blog__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #242565;
}

.item-blog__text {
  font-size: 16px;
  line-height: 150%;
}

.item-blog__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.item-blog__date {
  font-size: 14px;
  line-height: 150%;
  color: #A5A5A5;
  position: relative;
}

.item-blog__date::after {
  content: "";
  position: absolute;
  top: 48%;
  right: -10px;
  width: 6px;
  height: 1.5px;
  background-color: #A5A5A5;
}

.item-blog__name {
  font-size: 14px;
  line-height: 150%;
  color: #A5A5A5;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0.5s linear;
  -o-transition: opacity 0.2s 0.5s linear;
  transition: opacity 0.2s 0.5s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.5;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 0;
  bottom: 0;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.simplebar-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: scrollbar !important;
}

.simplebar-dummy-scrollbar-size > div {
  width: 200%;
  height: 200%;
  margin: 10px 0;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (min-width: 61.99875em) {
  .kpop__image {
    position: relative;
    top: 0;
    left: -36px;
  }

  .search__container {
    -webkit-transform: translate(0px, -90px);
        -ms-transform: translate(0px, -90px);
            transform: translate(0px, -90px);
  }

  .make__container {
    height: 252px;
  }

  .make__image img {
    -webkit-transform: translate(0px, -52px);
        -ms-transform: translate(0px, -52px);
            transform: translate(0px, -52px);
  }
}

@media (max-width: 514px) {
  .footer__logo {
    text-align: center;
  }

  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 61.99875em) {
  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .kpop__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .kpop__title {
    text-align: center;
  }

  .kpop__text {
    text-align: center;
  }

  .kpop__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .search__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 600px;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .search__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .events__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .events__title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .make__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

@supports (padding-top: clamp( 1.25rem , 0.9987437186rem  +  1.256281407vw , 1.875rem )) {
    .make__container {
      padding-top: clamp( 1.25rem , 0.9987437186rem  +  1.256281407vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.9987437186rem  +  1.256281407vw , 1.875rem )) {
    .make__container {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 49.75);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.3724874372rem  +  2.5125628141vw , 3.125rem )) {
    .make__container {
      padding-bottom: clamp( 1.875rem , 1.3724874372rem  +  2.5125628141vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3724874372rem  +  2.5125628141vw , 3.125rem )) {
    .make__container {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 49.75);
    }
}

  .make__title {
    text-align: center;
  }

  .make__text {
    text-align: center;
  }

  .make__button {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
    margin-top: 6px;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #fff;
    padding-bottom: 1.875rem;
  }

@supports (padding-top: clamp( 4.375rem , 3.6212311558rem  +  3.7688442211vw , 6.25rem )) {
    .menu__body {
      padding-top: clamp( 4.375rem , 3.6212311558rem  +  3.7688442211vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 4.375rem , 3.6212311558rem  +  3.7688442211vw , 6.25rem )) {
    .menu__body {
      padding-top: calc(4.375rem + 1.875 * (100vw - 20rem) / 49.75);
    }
}

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #242565;
  }

@supports (min-height: clamp( 3.75rem , 2.7449748744rem  +  5.0251256281vw , 6.25rem )) {
    .menu__body::before {
      min-height: clamp( 3.75rem , 2.7449748744rem  +  5.0251256281vw , 6.25rem );
    }
}

@supports not (min-height: clamp( 3.75rem , 2.7449748744rem  +  5.0251256281vw , 6.25rem )) {
    .menu__body::before {
      min-height: calc(3.75rem + 2.5 * (100vw - 20rem) / 49.75);
    }
}

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1.875rem;
  }

@supports (row-gap: clamp( 1.875rem , 1.3724874372rem  +  2.5125628141vw , 3.125rem )) {
    .menu__list {
      row-gap: clamp( 1.875rem , 1.3724874372rem  +  2.5125628141vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.875rem , 1.3724874372rem  +  2.5125628141vw , 3.125rem )) {
    .menu__list {
      row-gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 49.75);
    }
}

  .menu__list:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .menu__link {
    font-size: 25px;
    color: #242565;
  }

  .events__select {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 29.99875em) {
  .header__contact {
    border-color: #242565;
    color: #242565;
  }

  .kpop__button {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}

.webp .kpop{ background: -o-linear-gradient(331.02deg, rgba(237, 70, 144, 0.9) -2.11%, rgba(85, 34, 204, 0.9) 63.58%), url(../img/bg.webp) center/cover no-repeat; }

.webp .kpop{ background: linear-gradient(118.98deg, rgba(237, 70, 144, 0.9) -2.11%, rgba(85, 34, 204, 0.9) 63.58%), url(../img/bg.webp) center/cover no-repeat; }
